/**
 * FONT-FACE
 * Usage:
   @include font-face ('Acrom', '/font/Acrom/Acrom-Thin', 100);
 */
@mixin font-face(
  $font-name,
  $path,
  $weight: 400,
  $style: normal,
  $display: swap
) {
  @font-face {
    font-family: quote($font-name); /* IE9 Compat Modes */
    src: url($path + ".woff2");
    src:
            // url($path + ".eot?#iefix") format("embedded-opentype"),
            /* Modern Browsers */ url($path + ".woff2")
        format("woff2"),
      /* Legacy iOS */ url($path + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}

/**
 * MEDIA QUERIES
 * Usage:
  .block {
    @include mq(sm) {
        margin-bottom: 16px;
    };
  }
 */
@mixin mq($range) {
  $sm: $media-sm;
  $md: $media-md;
  $lg: $media-lg;
  $xl: $media-xl;

  @if ($range == xs-max) {
    @media (max-width: $media-xs-max) {
      @content;
    }
  } @else if $range == sm-max {
    @media (max-width: #{$md - 0.02}) {
      @content;
    }
  } @else if $range == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $range == md-max {
    @media (max-width: #{$lg - 0.02}) {
      @content;
    }
  } @else if $range == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $range == lg-max {
    @media (max-width: #{$xl - 0.02}) {
      @content;
    }
  } @else if $range == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $range == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}
